body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px 10px;
    background: rgb(27, 23, 23);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    background: rgb(27, 23, 23, .89);
}